{% extends 'main.html' %}


{% block content %}

    <p>Hello, you are on the {{ page }} page!!</p>

    {% if number > 10 %}
        <p>Number is greater than 10</p>

    {% elif number == 10 %}
        <p>Number is equal to 10</p>

    {% else %}
        <p>Number is lessthan 10</p>

    {% endif %}

    <hr>
    <h1>Projects Template</h1>

    <ul>
        {% for project in projects %}
            <li>Title:<a href="/project/{{ project.id }}">{{ project.title }}</a> --- {{ project.description }} </li>
        {% endfor %}
    </ul>


{% endblock content %}
